:root {

    --radius-16: 16px;
    --container-padding: 2rem;
    --thiner-border: rgba(255, 255, 255, 0.3);
    --thiner-border-sec: rgba(55, 65, 81, 0.2);

    --white-color: #ffffff;
    --text-gray: rgb(55 65 81);
    --title-gray: rgb(17 24 39);

    --primary-font-family: 'Arial', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--primary-font-family);
}

p,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
li {
    margin: 0;
}

.nav-bar {
    padding: .6rem 6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid var(--thiner-border); */

}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 900;
    color: var(--title-gray) !important;
    background-color: var(--white-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.change-header-elements-border-color {
    border-color: var(--thiner-border-sec) !important;
}

.logo-container {
    /* display: flex;
    align-items: center;
    justify-content: center;
    width: 18%;
    padding: 1.4rem; */
}

.nav-content {
    /* width: 88%; */
    display: flex;
    /* flex-direction: column; */
    /* border-left: 1px solid var(--thiner-border); */
}

.utility-bar {
    padding: 1.4rem;
    border-bottom: 0;
    border-left: 0;
    text-align: right;
    /* border: 1px solid var(--thiner-border);
    border-bottom: none;
    border-left: none; */
}

.main-nav {
    gap: 2rem;
    display: flex;
    justify-content: space-around;
    padding: 1.4rem;
    /* border-top: 1px solid var(--thiner-border); */
    /* border-bottom: none; */
    /* border: 1px solid red; */
}

.nav-links {

    /* width: 76%; */
    display: flex;
    gap: 2rem;
}

.nav-link {
    display: flex;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
}

.rounded-button.ui-button.rounded-button {
    color: var(--white-color);
    border: 1px solid var(--white-color)
}

.menu-button.ui-button {
    font-weight: 600;
}

.menu-button.ui-button,
.menu-button.ui-button.ui-state-hover,
.menu-button.ui-button:active,
.menu-button.ui-button:focus {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
}

.fake-input-container {
    width: 24%;
}

.fake-input {}


.search-container .ui-input-icon-right {
    width: 100%;
    height: 100%;
}

.search-container .ui-inputfield {
    border-radius: 4px;
    width: 100%;
}

/* 
==============================
HERO SECTION
===============================
*/

.hero-section {
    color: var(--white-color);
    height: 100vh;
    width: 100%;
    background-image: url("#{resource['imgs:luanda.jpg']}");
    background-color: rgba(17, 24, 39, 0.386);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.hero-content-container {
    width: 100%;
}

.hero-content {
    display: flex;
    flex-direction: column;
    margin: 6rem 0 0 6rem;
    width: fit-content;
    max-width: 50%;
}

.support-fixed-nav-bar {
    padding-top: 86px;
}

.title {
    font-size: 3rem;
}

.hero-content h1,
.hero-content p {
    margin: .4rem;
}

.hero-content .text {
    font-size: 1.4rem;
    line-height: 2rem;
}

.fixed-message-action {
    color: var(--white-color);
    position: fixed;
    top: 90%;
    right: 2%;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid var(--white-color);
}



/* 
=================================

=================================
*/
.home-section .title {
    font-size: 2.6rem;
    margin-bottom: .8rem;
}

.home-section .subtitle {
    font-size: 1.2rem;
    line-height: 2rem;
    width: 90%;
}

/*========================
NEWS
========================== 
 */

.news-section,
.consular-services-section,
.random-subjects-section,
.links-container {
    padding: 4rem 6rem;
}

.news-section .cards-container {
    display: flex;
    width: 100%;
    gap: 6rem;
    list-style: none;
    padding: 0;
    margin: 3rem auto 6rem;
}

.card {
    flex: 1;
    cursor: pointer;
    color: var(--text-gray);
    border-radius: 4px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
}

.height-light {
    width: 100%;
    height: 60vh;

}

.height-light img {
    width: 100%;
    height: 100%;
}

.news-section img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 2rem;
}

.news-section .card .title {
    width: 96%;
    margin: 1rem 0;
    color: var(--title-gray);
    font-weight: 600;
    font-size: 1.4rem;
}

.news-section .card .title span {
    margin-left: 1rem;
    font-size: 2rem;
}

.news-section .card .title span .pi {
    font-size: 1.2rem;
}

.title-icon {
    display: flex;
    align-items: center;
}

.transparent-button.ui-button {
    width: 12%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    display: flex;
    padding: .8rem;
}

/*========================
SERVICES
========================== 
 */
.consular-services-section {
    /* border: 2px solid red; */
}

.consular-services-section .cards-container {
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
}

.consular-services-section .card {
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    flex: 30%;
    padding: 2rem 4rem;
    display: flex;
    border: 1px solid var(--thiner-border-sec);
}
.consular-services-section .card:hover 
.icon-container{
    transform: translateX(20px);
}
.consular-services-section .icon-container {
    transition: transform 0.3s ease-out;
    border-radius: 50px;
    width: 50px;
    padding: .8rem;
    border: 1px solid var(--thiner-border-sec);

}

/* 
============================
INFORMATIVE NOTES SECTION

============================
*/

.informative-notes-section {
    border: 2px solid blue;
}

/* 
============================
LEADERS SECTION

============================
*/

.leaders-section {
    background-color: var(--title-gray);
    color: var(--white-color);
}


/* 
==========================
RANDOM SUBJECTS
===========================*/

.random-subjects-section {
    border: 3px solid yellow;
}

.images-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
        "a a a a b b"
        "c c d d d d"
        "e e e e f f";
    gap: 2rem;

    list-style: none;
    padding: 0;
    margin: 0;
}

.image.a {
    grid-area: a;
}

.image.b {
    grid-area: b;
}

.image.c {
    grid-area: c;
}

.image.d {
    grid-area: d;
}

.image.e {
    grid-area: e;
}

.image.f {
    grid-area: f;
}

.images-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


.footer-section{
    padding-bottom: 1rem;
    background-color: var(--title-gray);
    color: var(--white-color);
}
.footer-section .links-container{
    list-style: none;
    display: flex;
    justify-content: space-around;
    
}
.footer-section .links-container .title{
    font-size: 1.6rem;
    margin: .8rem 0;
} 
.footer-section .links-container a{
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.2rem;
}
.footer-section .links{
    display: flex;
    flex-direction: column;
    gap: .8rem;

}
.footer-section small{
    display: block;
    text-align: center;
}